@font-face {
  font-family: 'FontAwesome';
  src: url("applab/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#divApplab.appModern button.appModernDesign,
#divApplab.appModern button.appModernDesign:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label.appModernDesign,
#divApplab.appModern label.appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text].appModernDesign,
#divApplab.appModern input[type=text].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox].appModernDesign,
#divApplab.appModern input[type=checkbox].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select.appModernDesign,
#divApplab.appModern select.appModernDesign:hover {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio].appModernDesign,
#divApplab.appModern input[type=radio].appModernDesign:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea.appModernDesign,
#divApplab.appModern div.textArea.appModernDesign:hover {
  width: 200px;
  height: 100px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img.appModernDesign,
#divApplab.appModern img.appModernDesign:hover {
  height: 100px;
  width: 100px;
  object-fit: contain;
  font-family: "object-fit: contain;";
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas.appModernDesign,
#divApplab.appModern canvas.appModernDesign:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen.appModernDesign,
#divApplab.appModern div.screen.appModernDesign:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart.appModernDesign,
#divApplab.appModern div.chart.appModernDesign:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range].appModernDesign,
#divApplab.appModern input[type=range].appModernDesign:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #startscreen {
  background-color: rgb(109, 62, 62);
  background-size: 320px 450px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/ninjawgun.png");
}

#divApplab.appModern #start_btn {
  color: rgb(224, 193, 193);
  background-color: rgb(117, 14, 16);
  left: 120px;
  top: 395px;
}

#divApplab.appModern #Title {
  font-size: 21px;
  overflow-wrap: break-word;
  width: 152px;
  height: 26px;
  left: 80px;
  top: 20px;
  background-color: rgb(117, 125, 177);
  text-align: center;
}

#divApplab.appModern #gamescreen {
  display: none;
}

#divApplab.appModern #canvas {
  width: 319px;
  height: 380px;
}

#divApplab.appModern #carthit {
  height: 40px;
  width: 70px;
  background-color: rgba(26, 188, 156, 0);
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/hitler.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #gun {
  height: 32px;
  width: 65px;
  background-color: rgba(68, 148, 55, 0);
  left: 150px;
  top: 345px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/shotgun.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #ground {
  height: 75px;
  width: 320px;
  background-color: rgb(3, 66, 58);
  top: 380px;
}

#divApplab.appModern #gunreverse {
  height: 32px;
  width: 65px;
  background-color: rgba(68, 148, 55, 0);
  left: 130px;
  top: 345px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/shotgunreverse.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #gun45 {
  height: 60px;
  background-color: rgba(68, 148, 55, 0);
  left: 145px;
  top: 320px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/gun45.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #character_left {
  height: 65px;
  width: 70px;
  background-color: rgba(26, 188, 156, 0);
  left: 135px;
  top: 320px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/Ninja%20lside%20.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #gunupleft {
  height: 66px;
  width: 104px;
  background-color: rgba(68, 148, 55, 0);
  left: 105px;
  top: 310px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/shotgunleftup.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #gunupright {
  height: 66px;
  width: 104px;
  background-color: rgba(68, 148, 55, 0);
  left: 130px;
  top: 310px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/shotgunrightup.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #character_right {
  height: 65px;
  width: 70px;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(26, 188, 156, 0);
  left: 132px;
  top: 320px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/Ninja%20rside%20.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #character_back {
  height: 65px;
  width: 70px;
  background-color: rgba(26, 188, 156, 0);
  left: 130px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/Ninja%20Back.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  top: 320px;
}

#divApplab.appModern #gun135 {
  height: 60px;
  background-color: rgba(68, 148, 55, 0);
  left: 115px;
  top: 320px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/gun135.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#divApplab.appModern #character_front {
  height: 65px;
  width: 70px;
  background-color: rgba(26, 188, 156, 0);
  top: 320px;
  background-image: url("https://studio.code.org/v3/assets/be_O0ToTX2tHygiWqRTub2EbZlTb3W6eCJHRsdxiBbo/Ninja%20frontview.png");
  background-size: contain;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  left: 135px;
}

#divApplab.appModern #explosion {
  height: 50px;
  width: 55px;
  left: 110px;
}

#divApplab.appModern #cd1 {
  font-size: 105px;
  overflow-wrap: break-word;
  width: 43px;
  height: 110px;
  left: 150px;
  top: 135px;
}

#divApplab.appModern #cd2 {
  font-size: 105px;
  overflow-wrap: break-word;
  height: 110px;
  left: 140px;
  top: 135px;
  width: 68px;
}

#divApplab.appModern #cd3 {
  font-size: 105px;
  overflow-wrap: break-word;
  width: 69px;
  height: 110px;
  left: 140px;
  top: 135px;
}

#divApplab.appModern #go! {
  font-size: 150px;
  overflow-wrap: break-word;
  width: 285px;
  height: 395px;
  left: 40px;
  top: 100px;
}

#divApplab.appModern #scorelbl {
  overflow-wrap: break-word;
  color: rgb(249, 245, 245);
  width: 49px;
  left: 10px;
  top: 390px;
}

#divApplab.appModern #scorecount {
  overflow-wrap: break-word;
  color: rgb(255, 255, 255);
  width: 40px;
  height: 20px;
  left: 60px;
  top: 390px;
}

#divApplab.appModern #timelbl {
  overflow-wrap: break-word;
  color: rgb(255, 255, 255);
  width: 42px;
  left: 10px;
  top: 420px;
}

#divApplab.appModern #timecount {
  overflow-wrap: break-word;
  color: rgb(255, 255, 255);
  width: 85px;
  left: 55px;
  top: 420px;
}

#divApplab.appModern #WinScreen {
  display: none;
}

#divApplab.appModern #win_lbl {
  overflow-wrap: break-word;
  width: 84px;
  left: 115px;
  top: 5px;
}

#divApplab.appModern #playagainlbl {
  left: 110px;
  top: 295px;
}

#divApplab.appModern #showscore {
  font-size: 20px;
  overflow-wrap: break-word;
  width: 205px;
  height: 25px;
  left: 45px;
  top: 115px;
}
